body {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid;
}

/*Styles for navigation bar*/
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}
.navigation-items {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-left: auto;
  align-items: center;
  list-style-type: none;
}

.navigation-item {
  margin: 1em;
}

/*Styles for about me*/
.about-me-container {
  display: flex;
  flex-direction: row;
}
.about-me-text-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1em;
  border: 1px solid;
}
.about-me-image {
  display: flex;
  flex: 1 1 auto;
  width: 300px;
}

/*Styles for projects*/
.projects-container {
  display: flex;
  flex-direction: row;
}
.projects-text-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
